@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Cabin+Sketch');

/* general styles */

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

.wrap {
    margin: 0 40px;
}
.logo {
  font-family: Cabin Sketch, sans-serif;
}


/* nav bar */

#top-nav {
    line-height: 60px;
    overflow: hidden;
}
#top-nav .logo {
    float: left;
    font-size: 2em;
}
#top-nav .links {
    float: right;
}
#top-nav .links li {
    float: left;
    margin: 0 10px;
}


/* index */

.index #main-content .splash {
    text-align: center;
    font-size: 2em;
}
.index #main-content .logo {
    font-size: 3em;
}